GCP_PROJECT_ID=
GCP_REGION=europe-west1
GCP_ZONES=europe-west1-b,europe-west1-c,europe-west1-d
GKE_CLUSTER_NAME=oteldemo-gke
GKE_NODE_MACHINE_TYPE=e2-standard-4
BASE_DOMAIN=
OTELDEMO_ROOT_DOMAIN=oteldemo.${GCP_PROJECT_ID}.${BASE_DOMAIN}
OTELDEMO_KUBECONFIG_SECRET=oteldemo-kubeconfig
INGRESS_STATIC_IP_NAME=oteldemo-ingress-ip
INGRESS_CLASS=gce

# CI only
WIF_PROVIDER=
WIF_WORKLOAD_IDENTITY_POOL=
WIF_SERVICE_ACCOUNT=

# Terraform
TF_VAR_project_id=${GCP_PROJECT_ID}
TF_VAR_region=${GCP_REGION}
TF_VAR_zone=${GCP_ZONES}
TF_VAR_base_domain=${BASE_DOMAIN}
