# General
.DS_Store
.env
*.tfstate*
*.log
*.tfvars
node_modules/

# Terraform
.terraform/

# gCloud
gke_gcloud_auth_plugin_cache

# Helm
helm/charts/*.tgz

# Kubeconfig
kubeconfig

# AI agents
.codex/
.specify/
